<div class="container-fluid min-vh-100 d-flex flex-column">

  <!-- TÍTULO -->
  <header class="text-center py-5 bg-light border-bottom">
    <h1 class="display-4 fw-bold">Administrador</h1>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <main class="flex-grow-1 container py-5">
    <div class="row g-4 justify-content-center">

      <!-- Gestión de Candidatos -->
      <div class="col-md-4">
      <button
       class="btn btn-primary w-100 py-3"
       routerLink="/admin/candidatos">
      Gestión de Candidatos
      </button>
      </div>

      <!-- Gestión de Usuarios -->
      <div class="col-md-4">
        <button
          class="btn btn-secondary w-100 py-3"
          routerLink="/admin/usuarios">
          Gestión de Usuarios
        </button>
      </div>
      <!-- Resultados -->
      <div class="col-md-4">
        <button class="btn btn-info w-100 py-3 text-white">
          Resultados
        </button>
      </div>

      <!-- Cerrar sesión -->
        <div class="text-center mt-4">
          <button
            class="btn btn-danger"
            (click)="cerrarSesion()">
            Cerrar sesión
          </button>
        </div>

    </div>
  </main>

  <!-- FOOTER -->
  <footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
      <img
        src="https://portal.unitec.edu/Documentos/2025/CEUTEC/Logos/ORIGINAL_CEUTEC/Original.png"
        alt="CEUTEC Logo"
        class="img-fluid mb-3"
        style="max-height: 80px;"
      >
      <p class="mb-0">
        © 2026 CEUTEC – Elecciones Estudiantiles
      </p>
      <small>
        Todos los derechos reservados
      </small>
    </div>
  </footer>

  
</div>