<div class="container py-5">

  <div class="container py-3 text-end">
      <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
  </div>

  <h2 class="text-center mb-4">
    Candidatos – {{ carreraUsuario }}
  </h2>

  <div *ngIf="candidatos.length === 0" class="text-center text-muted">
    No hay candidatos para esta carrera
  </div>

  <div class="row g-4" *ngIf="candidatos.length > 0">
    <div class="col-md-4" *ngFor="let c of candidatos">
      <div class="card h-100 shadow-sm">

        <div class="card-body text-center">
           <h3 class="card-title">{{ c.ncasilla}}</h3>
          <h5 class="card-title">{{ c.nombre }}</h5>
          <p class="fw-bold text-muted">{{ c.npartido}}</p>
          <p class="card-text">{{ c.descripcion }}</p>
        </div>

      </div>
    </div>
  </div>

</div>